csharp/1-basic/arrays/ArraysAppConsole/.vs/ArraysAppConsole/v16/.suo
csharp/1-basic/arrays/ArraysAppConsole/.vs/ArraysAppConsole/v16/TestStore/0/000.testlog
csharp/1-basic/arrays/ArraysAppConsole/.vs/ArraysAppConsole/v16/TestStore/0/testlog.manifest
csharp/1-basic/arrays/ArraysAppConsole/.vs/CalculatorAppConsole/v16/.suo
csharp/1-basic/arrays/ArraysAppConsole/.vs/CalculatorAppConsole/v16/TestStore/0/000.testlog
csharp/1-basic/arrays/ArraysAppConsole/.vs/CalculatorAppConsole/v16/TestStore/0/testlog.manifest
csharp/1-basic/arrays/ArraysAppConsole/.vs/TypesAppConsole/v16/.suo
csharp/1-basic/arrays/ArraysAppConsole/.vs/TypesAppConsole/v16/TestStore/0/000.testlog
csharp/1-basic/arrays/ArraysAppConsole/.vs/TypesAppConsole/v16/TestStore/0/testlog.manifest
csharp/2-intermediate/api/IM22/IM22.sln
csharp/2-intermediate/api/IM22/.vs/IM22/config/applicationhost.config
csharp/2-intermediate/api/IM22/.vs/IM22/DesignTimeBuild/.dtbcache.v2
csharp/2-intermediate/api/IM22/.vs/IM22/v16/.suo
csharp/2-intermediate/api/IM22/.vs/IM22/v16/TestStore/0/000.testlog
csharp/2-intermediate/api/IM22/.vs/IM22/v16/TestStore/0/testlog.manifest
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/appsettings.json
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/IM22.API.deps.json
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/IM22.API.dll
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/IM22.API.exe
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/IM22.API.pdb
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/IM22.API.runtimeconfig.dev.json
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/IM22.API.runtimeconfig.json
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/IM22.Library.dll
csharp/2-intermediate/api/IM22/IM22.API/bin/Debug/netcoreapp3.1/IM22.Library.pdb
csharp/2-intermediate/api/IM22/IM22.API/obj/IM22.API.csproj.nuget.dgspec.json
csharp/2-intermediate/api/IM22/IM22.API/obj/IM22.API.csproj.nuget.g.props
csharp/2-intermediate/api/IM22/IM22.API/obj/IM22.API.csproj.nuget.g.targets
csharp/2-intermediate/api/IM22/IM22.API/obj/project.assets.json
csharp/2-intermediate/api/IM22/IM22.API/obj/project.nuget.cache
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/apphost.exe
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.AssemblyInfo.cs
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.AssemblyInfoInputs.cache
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.assets.cache
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.csproj.CopyComplete
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.csproj.CoreCompileInputs.cache
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.csproj.FileListAbsolute.txt
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.csprojAssemblyReference.cache
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.dll
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.genruntimeconfig.cache
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.MvcApplicationPartsAssemblyInfo.cache
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.pdb
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/IM22.API.RazorTargetAssemblyInfo.cache
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/staticwebassets/IM22.API.StaticWebAssets.Manifest.cache
csharp/2-intermediate/api/IM22/IM22.API/obj/Debug/netcoreapp3.1/staticwebassets/IM22.API.StaticWebAssets.xml
csharp/2-intermediate/api/IM22/IM22.Library/bin/Debug/IM22.Library.dll
csharp/2-intermediate/api/IM22/IM22.Library/bin/Debug/IM22.Library.pdb
csharp/2-intermediate/api/IM22/IM22.Library/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/2-intermediate/api/IM22/IM22.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp/2-intermediate/api/IM22/IM22.Library/obj/Debug/IM22.Library.csproj.CoreCompileInputs.cache
csharp/2-intermediate/api/IM22/IM22.Library/obj/Debug/IM22.Library.csproj.FileListAbsolute.txt
csharp/2-intermediate/api/IM22/IM22.Library/obj/Debug/IM22.Library.csprojAssemblyReference.cache
csharp/2-intermediate/api/IM22/IM22.Library/obj/Debug/IM22.Library.dll
csharp/2-intermediate/api/IM22/IM22.Library/obj/Debug/IM22.Library.pdb
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole.sln
csharp/1-basic/arrays/ArraysSortAppConsole/.vs/ArraysSortAppConsole/v16/.suo
csharp/1-basic/arrays/ArraysSortAppConsole/.vs/ArraysSortAppConsole/v16/TestStore/0/000.testlog
csharp/1-basic/arrays/ArraysSortAppConsole/.vs/ArraysSortAppConsole/v16/TestStore/0/testlog.manifest
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/bin/Debug/ArraysSortAppConsole.exe
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/bin/Debug/ArraysSortAppConsole.pdb
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/obj/Debug/ArraysSortAppConsole.csproj.CoreCompileInputs.cache
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/obj/Debug/ArraysSortAppConsole.csproj.FileListAbsolute.txt
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/obj/Debug/ArraysSortAppConsole.csprojAssemblyReference.cache
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/obj/Debug/ArraysSortAppConsole.exe
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/obj/Debug/ArraysSortAppConsole.pdb
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp/2-intermediate/api/DMS/DMS.Library/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
csharp/2-intermediate/api/DMS/DMS.Library/obj/Debug/DMS.Library.csprojAssemblyReference.cache
csharp/2-intermediate/api/DMS/.vs/DMS/v16/.suo
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
csharp/1-basic/arrays/ArraysSortAppConsole/ArraysSortAppConsole/bin/Debug/ArraysSortAppConsole.exe.config
csharp/3-advance/patterns/creationals/FactoryMethod/.vs/FactoryMethod/v16/.suo
csharp/3-advance/patterns/creationals/FactoryMethod/.vs/FactoryMethod/v16/TestStore/0/000.testlog
csharp/3-advance/patterns/creationals/FactoryMethod/.vs/FactoryMethod/v16/TestStore/0/testlog.manifest
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/FactoryMethod.csproj.nuget.dgspec.json
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/FactoryMethod.csproj.nuget.g.props
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/FactoryMethod.csproj.nuget.g.targets
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/project.assets.json
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/Debug/netcoreapp3.1/FactoryMethod.AssemblyInfo.cs
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/Debug/netcoreapp3.1/FactoryMethod.AssemblyInfoInputs.cache
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/Debug/netcoreapp3.1/FactoryMethod.assets.cache
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/Debug/netcoreapp3.1/FactoryMethod.csproj.FileListAbsolute.txt
csharp/3-advance/patterns/creationals/FactoryMethod/FactoryMethod/obj/Debug/netcoreapp3.1/FactoryMethod.csprojAssemblyReference.cache
csharp/2-intermediate/poo/inheritance/.vs/InheritanceAppConsole/v16/.suo
csharp/2-intermediate/poo/inheritance/.vs/InheritanceAppConsole/v16/TestStore/0/000.testlog
csharp/2-intermediate/poo/inheritance/.vs/InheritanceAppConsole/v16/TestStore/0/testlog.manifest
csharp/2-intermediate/poo/inheritance/InheritanceAppConsole/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
csharp/2-intermediate/poo/inheritance/InheritanceAppConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp/2-intermediate/poo/inheritance/InheritanceAppConsole/obj/Debug/InheritanceAppConsole.csprojAssemblyReference.cache
csharp/3-advance/generics/.vs/GenericsAppConsole/v16/.suo
csharp/3-advance/generics/.vs/GenericsAppConsole/v16/TestStore/0/000.testlog
csharp/3-advance/generics/.vs/GenericsAppConsole/v16/TestStore/0/testlog.manifest
csharp/3-advance/generics/GenericsAppConsole/bin/Debug/GenericsAppConsole.exe
csharp/3-advance/generics/GenericsAppConsole/bin/Debug/GenericsAppConsole.exe.config
csharp/3-advance/generics/GenericsAppConsole/bin/Debug/GenericsAppConsole.pdb
csharp/3-advance/generics/GenericsAppConsole/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
csharp/3-advance/generics/GenericsAppConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp/3-advance/generics/GenericsAppConsole/obj/Debug/GenericsAppConsole.csproj.CoreCompileInputs.cache
csharp/3-advance/generics/GenericsAppConsole/obj/Debug/GenericsAppConsole.csproj.FileListAbsolute.txt
csharp/3-advance/generics/GenericsAppConsole/obj/Debug/GenericsAppConsole.csprojAssemblyReference.cache
csharp/3-advance/generics/GenericsAppConsole/obj/Debug/GenericsAppConsole.exe
csharp/3-advance/generics/GenericsAppConsole/obj/Debug/GenericsAppConsole.pdb
csharp/3-advance/generics/GenericsAppConsole/obj/Debug/InheritanceAppConsole.csprojAssemblyReference.cache
csharp/3-advance/patterns/creationals/FactoryMethod/.vs/FactoryMethod/DesignTimeBuild/.dtbcache.v2
/csharp/2-intermediate/api/DMS/DMS.Library/bin/Debug
/csharp/2-intermediate/api/DMS/DMS.Library/obj/Debug
/csharp/2-intermediate/api/DMS/DMS.UI/bin/Debug
/csharp/2-intermediate/api/DMS/DMS.UI/obj/Debug
/csharp/3-advance/dictionaries/.vs
/csharp/3-advance/dictionaries/DictionariesConsole/bin/Debug
/csharp/3-advance/dictionaries/DictionariesConsole/obj/Debug
